@{
    ViewData["Title"] = "Home Page";
}
@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!--<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/css/Estilos.css">
}

    <div class="container">
        <div class="row">
            <div class="heading-title text-center">
                <h3 class="text-uppercase">Equipo Desarrollador</h3>
                <p class="p-top-30 half-txt">Principales desarrolladores de el modelo de capas, con C#, Firebase y SQL server __________________________________________________________ </p>
            </div>

            <div class="col-md-4 col-sm-4" id="01">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/_01.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>UDB Forever!</h4>
                            <p>Persigue tus sueños y metas!.</p>
                        </div>
                        <div class="s-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h4>Carlos Artiga</h4>
                    <h5>AM221132</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/02.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>Hola Mundo!</h4>
                            <p>No importa donde comiences, lo importante es comenzar.</p>
                        </div>
                        <div class="s-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h4>Sofía Amaya</h4>
                    <h5>AG220453</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/03.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>El futbol es mi bebida</h4>
                            <p>Liberarte de tus ataduras impulsa tu mente.</p>
                        </div>
                        <div class="s-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h4>Kevin Parada</h4>
                    <h5>PC220797r</h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/img/04.jpg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>Me Gustan los Videojuegos</h4>
                            <p>Y las series por las noches.</p>
                        </div>
                        <div class="s-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h4>David Campos</h4>
                    <h5>CH220048</h5>
                </div>
            </div>

        </div>

    </div>